<html>
    <head><title>test</title></head>
    <body>
        <ul>
            {% for sg in object_list %}
            <li>
            {{ sg.name }}
            <ul>
                {% for sg_user in sg.studygroup_users %}
                <li>{{ sg_user.user.username }}</li>
                {% endfor %}

                {% comment %} COMMENTED OUT, INEFFECTIVE
                {% for user in sg.users.all %}
                <li>{{ user.username }}</li>
                {% endfor %}
                {% endcomment %}
            </ul>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
